// setup
$darkGrey:     #554d4c;
$lightGrey:    #9f9b9b;
$removeColor:  #ff3726;
$yellow:       #e1cf5f;
$lightYellow:  #fff6ba;
$hSpacing:     12px;
$headerHeight: 44px;
$navHeight:    40px;

html, body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing:    antialiased;
  font-smoothing:         antialiased;
  width: 100%;
  font-family: helvetica, arial;
  font-size: 15px;
  color: darken($darkGrey, 10);
  background: darken($darkGrey, 15);
  line-height: 20px;
}
* {
  outline: none;
}
a {
  color: darken($darkGrey, 10);
}
h1, h2, h3, h4, h5, h6 {
  color: $darkGrey;
}
h2 {
  color: darken($darkGrey, 10);
  font-size: 17px;
  background-color: $lightGrey;
  background-repeat: no-repeat;
  background-position: $hSpacing center;
  padding: 7px $hSpacing;
  margin: 0;
}
h3 {
  font-size: 15px;
  background-color: lighten($lightGrey, 15);
  padding: 5px $hSpacing;
  margin: 0;
  font-weight: 400;
}

/*
  Allow angular.js to be loaded in body, hiding cloaked elements until
  templates compile.  The !important is important given that there may be
  other selectors that are more specific or come later and might alter display.
 */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

#container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 600px;
  box-shadow: 0 0 3px rgba(0,0,0,0.8);
  -moz-box-sizing: border-box;
  box-sizing:      border-box;
  padding-bottom: 40px;
}
.panel-slider {
  position: relative;
  overflow: hidden;
  width: 500%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing:      border-box;
}
.panel-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.panel {
  position: relative;
  background: #fff;
  float: left;
  z-index: 10;
  height: 100%;
  width: 20%;
  overflow: hidden;
}
.subpanel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.subpanel {
  position: relative;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.header {
  -moz-box-sizing: border-box;
  box-sizing:      border-box;
  width: 100%;
  font-weight: 100;
  height: $headerHeight;
  line-height: $headerHeight;
  text-transform: uppercase;
  font-size: 25px;
  padding: 0 $hSpacing;
  margin: 0;
  background: darken($darkGrey, 7);
  color: lighten($darkGrey, 17);
  position: relative;
  position: absolute;
  top: 0;
  left: 0;
}
.header-button {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: $hSpacing;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border-radius: 2px;
  background: $yellow;
  color: darken($darkGrey, 12);
  font-weight: bold;
  font-size: 13px;
  text-transform: none;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0,0,0,0.75);
  padding: 0 $hSpacing;
  &:hover {
    background: $lightYellow;
  }
}
.headered-panel {
  padding-top: $headerHeight;
  -moz-box-sizing: border-box;
  box-sizing:      border-box;
}
.panel-wrapper {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling:    touch;
  -o-overflow-scrolling:      touch;
  -ms-overflow-scrolling:     touch;
  overflow-scrolling:         touch;
}
.notice {
  padding: 7px $hSpacing;
  font-size: 13px;
  margin: 0;
  font-style: italic;
  background: $lightYellow;
}

#buddies .subpanel-container {
  height: 200%;
}
#buddies .subpanel {
  height: 50%;
}

.icon-s {
  display: block;
  width:  16px;
  height: 16px;
  background-repeat: no-repeat;
  background-image:  url("../imgs/sprites.png");
}
.icon-s.icon-github {
  background-position: 0 -24px;
}
.icon-s.icon-stack-overflow {
  background-position: -16px -24px;
}
.icon-m {
  display: block;
  width:  24px;
  height: 24px;
  background-repeat: no-repeat;
  background-image:  url("../imgs/sprites.png");
}
.icon-m.icon-search {
  background-position: -72px 0;
}


ul.items {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 7px $hSpacing;
    border-bottom: 1px solid lighten($lightGrey, 25);
  }
}

.more {
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: block;
  display: none;
  text-align: center;
  height: 32px;
  &:hover {
    background-color: $lightYellow;
  }
}
.empty {
  margin: 0;
  text-align: center;
  padding: 9px $hSpacing;
  font-style: italic;
  border-bottom: 1px solid lighten($lightGrey, 25);
  a {
    display: inline-block;
    text-decoration: none;
    background-color: $yellow;
    border-radius: 2px;
    padding: 2px 5px;
    font-style: normal;
    color: darken($darkGrey, 10);
    background: $yellow;
    cursor: pointer;
  }
}

/*******************************************************************************
 * Popin
 ******************************************************************************/
.popin {
  //display: none;
  position: absolute;
  top: 24px;
  left: 24px;
  right: 24px;
  box-shadow: 0 0 3px rgba(0,0,0,0.85);
  z-index: 9999;
  border-radius: 2px;
  background: #FFF;
}
.popin.error {
  background: #ffb884;
  p {
    padding: 0 $hSpacing;
  }
}
.popin-close {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background: #000;
  border-top-right-radius: 2px;
}
.popin-wrapper {
  top: 0;
  left: 0;
  overflow: hidden;
  //padding-top: 32px;
  -moz-box-sizing: border-box;
  box-sizing:      border-box;
  position: relative;
  width: 100%;
  min-height: 100px;
  border-radius: 2px;
}
.popin-title {
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: darken($darkGrey, 7);
  color: lighten($darkGrey, 17);
  height: 32px;
  line-height: 32px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing:      border-box;
  padding: 0 $hSpacing;
  text-transform: uppercase;
  font-size: 19px;
}


/*******************************************************************************
 * Home
 ******************************************************************************/
#home {
  .panel-wrapper {
    padding: 18px $hSpacing;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  img {
    display: inline-block;
  }
  background: $darkGrey;
  color: lighten($lightGrey, 8);
  .presentation {
    width: 100%;
    margin: 18px 0;
    line-height: 22px;
    strong {
      color: $lightYellow;
      font-weight: normal;
    }
  }
  a {
    -webkit-transition: background-color 0.3s linear, color 0.3s linear;
    -moz-transition:    background-color 0.3s linear, color 0.3s linear;
    transition:         background-color 0.3s linear, color 0.3s linear;
    position: relative;
    margin-top: 15px;
    display: block;
    background-color: $yellow;
    font-weight: bold;
    text-decoration: none;
    padding-left: 52px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    border-radius: 2px;
    box-shadow: 0 1px 1px #fff38b inset,
                0 1px 2px rgba(0,0,0,0.75);
    > i {
      display: block;
      position: absolute;
      top:  0;
      left: 0;
      height: 40px;
      width:  40px;
      background-color:$lightYellow;
      border-top-left-radius:    2px;
      border-bottom-left-radius: 2px;
      i {
        display: block;
        position: absolute;
        top:  8px;
        left: 8px;
        width:  24px;
        height: 24px;
        background-repeat: no-repeat;
        background-image:  url("../imgs/sprites.png");
      }
    }
    &.go-search i i {
      background-position: -72px 0;
    }
    &.go-list i i {
      background-position: -96px 0;
    }
    &:hover {
      color: darken($darkGrey, 30);
      background-color: $lightYellow;
    }
  }
}


/*******************************************************************************
 * About
 ******************************************************************************/
#about {
  background: $darkGrey;
  color: lighten($lightGrey, 8);
  p {
    padding: 12px $hSpacing;
    margin: 0;
    line-height: 22px;
    strong, a {
      color: $lightYellow;
      font-weight: normal;
    }
  }
}


/*******************************************************************************
 * Buddy profile
 ******************************************************************************/
#buddy-profile {
  .header {
    font-size: 21px;
    font-weight: normal;
    color: lighten($lightGrey, 10);
    text-transform: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 100;
    span {
      text-shadow: none;
    }
    img {
      margin-top:   6px;
      margin-right: 9px;
      max-height: 32px;
      float: left;
      border-radius: 2px;
    }
  }
  h2 {
    position: relative;
    padding-left: 36px;
    min-height: 24px;
    line-height: 24px;
    .icon-refresh {
      position: absolute;
      top:   6px;
      right: $hSpacing;
      display: block;
      cursor: pointer;
      border-radius: 2px;
      background-position: -168px 0;
      &:hover {
        background-color: lighten($lightGrey, 10);
      }
    }
    .icon-s {
      position: absolute;
      top: 11px;
      left: $hSpacing;
    }
  }
  .wrapper {
    height: 100%;
    overflow-y: auto;
  }
  h3 {
    position: relative;
    cursor: pointer;
    color: darken($darkGrey, 15);
    border-bottom: 1px solid lighten($lightGrey, 8);
    .count {
      border-radius: 2px;
      display: inline-block;
      background: $darkGrey;
      color: lighten($lightGrey, 25);
      padding: 0 5px;
      line-height: 18px;
      font-size: 13px;
      box-shadow: 0 1px 1px rgba(0,0,0,0.5) inset;
      text-shadow: 0 1px 1px rgba(0,0,0,0.85);
      //font-weight: 800;
    }
    i {
      position: absolute;
      top: 3px;
      right: $hSpacing;
      height: 24px;
      width: 24px;
      background-position: center center;
      background-repeat: no-repeat;
      background-image: url("../imgs/collapse-icon.png");
    }
    &:hover {
      background-color: lighten($lightGrey, 20);
    }
    &.collapsed {
      i {
        background-image: url("../imgs/expand-icon.png");
      }
    }
  }
  .basic-infos {

  }
  ul.activity {
    font-size: 13px;
    a {
      text-decoration: none;
      font-weight: bold;
    }
    .day {
      font-size: 13px;
      font-weight: bold;
      padding: 3px $hSpacing;
      background-color: lighten($lightGrey, 27);
    }
    .time {
      color: darken($lightGrey, 15);
    }
  }
  ul.repositories {
    font-size: 13px;
    li {
      padding: 5px $hSpacing;
      border-bottom: none;
    }
    a {
      text-decoration: none;
      font-weight: bold;
      color: darken($darkGrey, 15);
      background: $yellow;
      display: inline-block;
      padding: 2px 6px;
      border-radius: 2px;
      &:hover {
        background-color: $lightYellow;
      }
    }
    .meta {
      font-style: italic;
    }
  }
}



/*******************************************************************************
 * Search results
 ******************************************************************************/
#search {
  .search-wrapper {
    position: relative;
    overflow: hidden;
    padding: 12px $hSpacing;
    background-color: $darkGrey;
    input[type="text"] {
      display: block;
      padding: 0 12px;
      height: 40px;
      background: $lightGrey;
      color: $darkGrey;
      border: none;
      border-radius: 2px;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      box-shadow:
        0 1px 3px rgba(0,0,0,0.5),
        0 1px 1px lighten($lightGrey, 10) inset;
      &:hover {
        background-color: #b3afaf;
      }
      &:focus {
        background: lighten($lightGrey, 15);
        color: darken($darkGrey, 15);
      }
    }
    .clear {
      position: absolute;
      top: 12px;
      right: $hSpacing + 40px;
      cursor: pointer;
      display: block;
      width:  40px;
      height: 40px;
      background: url("../imgs/cross-dark.png") no-repeat center center;
      z-index: 100;
    }
    a.submit {
      position: absolute;
      top: 12px;
      right: $hSpacing;
      cursor: pointer;
      display: block;
      border-top-right-radius:    2px;
      border-bottom-right-radius: 2px;
      height: 40px;
      width:  40px;
      background-color: $yellow;
      box-shadow: 0 1px 1px $lightYellow inset;
      i {
        margin-top:  8px;
        margin-left: 8px;
      }
      &:focus,
      &:hover,
      &:active {
        background-color: $lightYellow;
      }
    }
    .overlay {
      background: rgba(85,77,76,0.6);
    }
  }
  .notice {
    display: none;
    text-align: center;
  }
  a.build {
    text-align: center;
    margin-top: 12px;
    text-decoration: none;
    display: block;
    padding: 11px 0;
    color: darken($darkGrey, 10);
    background: $yellow;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5),
                0 1px 1px $lightYellow inset;
    &:hover {
      background: $lightYellow;
    }
  }
  .results-wrapper {
    overflow-y: auto;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing:      border-box;
    padding-bottom: 40px;
  }
  .results {
    li {
      cursor: pointer;
      -webkit-transition: background-color 0.2s linear;
      -moz-transition:    background-color 0.2s linear;
      transition:         background-color 0.2s linear;
      -webkit-transition: padding-left 0.2s linear;
      -moz-transition:    padding-left 0.2s linear;
      transition:         padding-left 0.2s linear;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      position: relative;
      min-height: 36px;
      padding: $hSpacing $hSpacing $hSpacing 36px;
      overflow: hidden;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: $hSpacing center;
      i {
        position: absolute;
        top:  50%;
        left: $hSpacing;
        margin-top: -8px;
      }
      .validate {
        position: absolute;
        top:   50%;
        right: $hSpacing;
        background-position: 0 0;
        margin-top: -12px;
      }
      &.no-picture {
        padding-left: 84px;
        &.selected {
          padding-left: 100px;
        }
      }
      &.selected {
        padding-left: 50px;
        background-color: $lightYellow !important;
        border-color: $yellow;
        .validate {
          background-position: -24px 0;
        }
      }
      &:hover,
      &:focus {
        background-color: lighten($lightGrey, 27);
      }
    }
    img {
      float: left;
      width: 36px;
      margin-right: 12px;
    }
    h2 {
      font-size: 15px;
      margin: 0 0 9px 0;
      background: transparent;
      padding: 0;
    }
    p {
      margin: 0;
    }
  }
}



/*******************************************************************************
 * Buddies panel
 ******************************************************************************/
#buddies-list {
  .header {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
    z-index: 100;
  }
  h1 {
    a {
      -webkit-transition: width 0.1s linear;
      -moz-transition:    width 0.1s linear;
      transition:         width 0.1s linear;
      padding: 0;
      width: 50px;
      text-align: center;
      background: $removeColor;
      box-shadow: 0 1px 1px lighten($removeColor, 12) inset,
                  0 1px 2px rgba(0,0,0,0.5);
      &:hover {
        background: lighten($removeColor, 10);
      }
      &.editing {
        width: 70px;
      }
    }
  }
  ul.letters {
    margin: 0;
    padding: 0;
    background-color: $lightGrey;
    > li {
      > span {
        padding: 0 $hSpacing;
        display: block;
        height: 24px;
        line-height: 24px;
        font-size: 13px;
        font-weight: bold;
      }
      li {
        cursor: pointer;
        -webkit-transition: background-color 0.3s linear;
        -moz-transition:    background-color 0.3s linear;
        transition:         background-color 0.3s linear;
        position: relative;
        min-height: 24px;
        background-color: #fff;
        &:hover {
          background-color: lighten($lightGrey, 27);
        }
      }
    }
  }
  h3 {
    font-size: 16px;
    font-weight: bold;
    background: none;
    padding: 0;
    color: darken($darkGrey, 15);
  }
  .remove {
    -webkit-transition: width 0.1s linear, opacity 0.1s linear;
    -moz-transition:    width 0.1s linear, opacity 0.1s linear;
    transition:         width 0.1s linear, opacity 0.1s linear;
    opacity: 0;
    display: block;
    position: absolute;
    top: 5px;
    right: $hSpacing;
    width: 28px;
    height: 28px;
    border-radius: 2px;
    background: $removeColor url("../imgs/cross-dark.png") no-repeat center center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.35);
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: darken($darkGrey, 12);
    overflow: hidden;
    &.editing {
      opacity: 1;
    }
    span {
      line-height: 28px;
      height: 28px;
      width: 70px;
      display: block;
      visibility: hidden;
    }
    &.pending {
      width: 70px;
      background: $removeColor;
      span {
        visibility: visible;
      }
    }
    &:hover {
      background-color: lighten($removeColor, 10);
    }
  }
}


/*******************************************************************************
 * Settings panel
 ******************************************************************************/
#settings {
  .switch {
    top: 13px;
  }
  .quota {
    color: lighten($darkGrey, 10);
    display: block;
    font-size: 13px;
    span {
      color: darken($darkGrey, 10);
    }
  }
  .providers {
    li {
      position: relative;
      padding: 11px $hSpacing 11px 36px;
      background-repeat: no-repeat;
      background-position: $hSpacing 14px;
      .name {
        font-weight: bold;
      }
      .icon-s {
        position: absolute;
        top:  14px;
        left: $hSpacing;
      }
    }
  }
}



/*******************************************************************************
 * Nav bar
 ******************************************************************************/
.nav {
  z-index: 9999;
  position: absolute;
  bottom: 0;
  background: #ddd;
  height: $navHeight;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  li {
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    border-left: 1px solid #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:first-child {
      border-left: none;
    }
  }
  a {
    cursor: pointer;
    position: relative;
    display: block;
    width:  100%;
    height: 100%;
    span {
      display: none;
    }
    &:hover,
    &:focus,
    &.active {
      background-color: #eee;
    }
    i {
      position: absolute;
      top:  50%;
      left: 50%;
      margin-top:  -12px;
      margin-left: -12px;
    }
  }
  .home i {
    background-position: -48px 0;
  }
  .search-button i {
    background-position: -72px 0;
  }
  .buddies i {
    background-position: -96px 0;
  }
  .settings i {
    background-position: -120px 0;
  }
  .about i {
    background-position: -144px 0;
  }
}

// switch component (on/off)
.switch {
  cursor: pointer;
  font-size: 13px;
  position: absolute;
  top: 5px;
  right: $hSpacing;
  display: block;
  border-radius: 2px;
  width: 70px;
  height: 30px;
  line-height: 30px;
  span {
    position: relative;
    display: block;
    span {
      font-weight: bold;
      display: block;
      float: left;
      width: 35px;
      height: 30px;
      text-align: center;
      box-shadow: 0 0 4px rgba(0,0,0,0.25) inset;
      &:nth-child(1) {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        background: $yellow;
      }
      &:nth-child(2) {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background: $lightGrey;
      }
    }
    i {
      -webkit-transition: left 0.1s linear;
      -moz-transition:    left 0.1s linear;
      transition:         left 0.1s linear;
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: $darkGrey;
      box-shadow: 0 0 3px rgba(0,0,0,0.85) inset;
      height: 30px;
      width: 35px;
    }
  }
  &.on {
    text-align: left;
    i {
      left: 35px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
  &.off {
    text-align: right;
    i {
      left: 0;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
  &:hover {
    i {
      background-color: lighten($darkGrey, 10);
    }
  }
}




.loader {
  position: absolute;
  z-index: 10000;
  top:  50%;
  left: 50%;
  height: 100px;
  width:  100px;
  background-color: rgba(42, 35, 34, 0.91);
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../imgs/loader.gif");
  border-radius: 2px;
  margin-top:  -50px;
  margin-left: -50px;
  box-shadow: 0 0 3px rgba(0,0,0,0.75);
}
.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
}