$darkGrey:    #554d4c;
$lightGrey:   #9f9b9b;
$accent:      #299e83;
$accentOver:  #29c7ab;
$lightGreen:  #baf9ce;
$removeColor: #ff3726;

$hSpacing: 12px;

html, body {
  height: 100%;
}
body {
  width: 100%;
  font-family: helvetica, arial;
  font-size: 15px;
  color: darken($darkGrey, 10);
  background: #333;
  line-height: 20px;
}
a {
  color: darken($darkGrey, 10);
  outline: none;
}
h1, h2, h3, h4, h5, h6 {
  color: $darkGrey;
}
h1 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 25px;
  padding: 12px $hSpacing;
  margin: 0;
  background: $darkGrey;
  color: lighten($lightGrey, 25);
  position: relative;
}
h2 {
  color: darken($darkGrey, 10);
  font-size: 17px;
  background-color: $lightGrey;
  background-repeat: no-repeat;
  background-position: $hSpacing center;
  padding: 7px $hSpacing;
  margin: 0;
}
h3 {
  font-size: 15px;
  background-color: lighten($lightGrey, 15);
  padding: 5px $hSpacing;
  margin: 0;
  font-weight: 400;
}

#container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
/*
width: 320px;
height: 480px;
margin-left: -160px;
margin-top: 20px;
left: 50%;
*/
  background: #8eefc0;
  box-shadow: 0 0 3px rgba(0,0,0,0.8);
  -webkit-perspective: 1000px;
  -moz-perspective:    1000px;
  perspective:         1000px;
}
.panel-slider {
  position: relative;
  overflow: hidden;
  width: 500%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing:      border-box;
}
.panel-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.panel {
  position: relative;
  background: #fff;
  float: left;
  z-index: 10;
  height: 100%;
  width: 20%;
  overflow: hidden;
}
.subpanel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.subpanel {
  position: relative;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.notice {
  padding: 7px $hSpacing;
  font-size: 13px;
  margin: 0;
  font-style: italic;
  background: $lightGreen;
}


#buddies .subpanel-container {
  height: 200%;
}
#buddies .subpanel {
  height: 50%;
}


ul.items {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 7px $hSpacing;
    border-bottom: 1px solid lighten($lightGrey, 25);
  }
}

.more {
  border-top: 1px solid lighten($lightGrey, 25);
  padding: 5px $hSpacing;
  margin: 0;
  display: block;
  display: none;
  span {
    font-style: italic;
    color: #000;
    cursor: pointer;
    &:hover {
    }
  }
}


/*******************************************************************************
 * Home
 ******************************************************************************/
#home {
  background: $darkGrey;
  color: lighten($lightGrey, 8);
  h1 {
    border-bottom: 1px solid darken($darkGrey, 7);
  }
  .presentation {
    padding: 12px $hSpacing;
    margin: 0;
    line-height: 22px;
    strong {
      color: #fff6ba;
      font-weight: normal;
    }
    a {
      -webkit-transition: background-color 0.3s linear, color 0.3s linear;
      -moz-transition:    background-color 0.3s linear, color 0.3s linear;
      transition:         background-color 0.3s linear, color 0.3s linear;
      position: relative;
      margin-top: 15px;
      display: block;
      background-color: #e1cf5f;
      font-weight: bold;
      text-decoration: none;
      padding-left: 52px;
      height: 40px;
      line-height: 40px;
      text-align: left;
      border-radius: 2px;
      box-shadow: 0 1px 1px #fff38b inset,
                  0 1px 2px rgba(0,0,0,0.75);
      i {
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
        background-color: #fff6ba;
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
      }
      &.go-search i {
        background-image: url("../imgs/search-dark-grey.png");
      }
      &.go-list i {
        background-image: url("../imgs/glyphicons_114_list.png");
      }
      &:hover {
        color: darken($darkGrey, 30);
        background-color: #fff6ba;
      }
    }
  }
}


/*******************************************************************************
 * About
 ******************************************************************************/
#about {
  background: $darkGrey;
  color: lighten($lightGrey, 8);
  h1 {
    border-bottom: 1px solid darken($darkGrey, 7);
  }
}


/*******************************************************************************
 * Search form
 ******************************************************************************/
.search {
  width: 100%;
  height: 60px;
  padding-bottom: 32px;
  position: relative;
  overflow: hidden;
  background-color: $darkGrey;
  -webkit-transition: height 0.1s linear;
  -moz-transition:    height 0.1s linear;
  transition:         height 0.1s linear;
  .container {
    position: relative;
    top: 0;
    padding: 9px $hSpacing;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing:      border-box;
  }
  .toggle {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    display: block;
    height: 32px;
    width: 100%;
    text-align: center;
    background: $lightGrey url("../imgs/collapse-icon.png") no-repeat center center;
  }
  &.closed {
    height: 0;
    .toggle {
      background-image: url("../imgs/expand-icon.png");
    }
  }
  .search-wrapper {
    position: relative;
    top: 0;
    display: block;
  }
  input[type="text"] {
    display: block;
    padding: 0 12px;
    height: 40px;
    background: $lightGrey;
    color: $darkGrey;
    border: none;
    border-radius: 2px;
    outline: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 12px;
    box-shadow:
      0 1px 3px rgba(0,0,0,0.5),
      0 1px 1px lighten($lightGrey, 10) inset;
    &:hover {
      background-color: #b3afaf;
    }
    &:focus {
      background: lighten($lightGrey, 15);
      color: darken($darkGrey, 15);
    }
  }
  .clear {
    position: absolute;
    cursor: pointer;
    display: none;
    width: 40px;
    height: 40px;
    background: url("../imgs/cross-dark.png") no-repeat center center;
    top: 0;
    right: 40px;
  }
  a {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    display: block;
    width: 100%;
    display: block;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 40px;
    width: 40px;
    outline: none;
    background: $accent;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../imgs/search-dark-grey.png");
    box-shadow: 0 1px 1px lighten($accent, 7) inset;
    color: #baf9ce;
    &:focus,
    &:hover,
    &:active {
      background-color: $accentOver;
    }
  }
}



.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.7);
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 14px;
    margin-top: -7px;
    width: 48px;
    margin-left: -24px;
    background: url("../imgs/loader.gif") no-repeat top left;
  }
}



/*******************************************************************************
 * Buddy profile
 ******************************************************************************/
#buddy-profile {
  overflow-y: auto;
  h2 {
    padding-left: 32px;
  }
  .github-profile h2 {
    background-image: url("../imgs/github-icon-16.png");
  }
  .linkedin-profile h2 {
    background-image: url("../imgs/linkedin-icon-16.png");
  }
  .stack-overflow-profile h2 {
    background-image: url("../imgs/stack-overflow-icon-16.png");
  }
  ul.activity {
    font-size: 13px;
    .date {
      font-style: italic;
      color: #888;
    }
  }
}



/*******************************************************************************
 * Search results
 ******************************************************************************/
#search {
  .notice {
    display: none;
    text-align: center;
  }
  .build {
    padding: 7px 0;
    margin: 0;
    display: block;
    text-align: center;
    background-color: $darkGrey;
    display: none;
    a {
      display: inline-block;
      padding: 7px 25px;
      color: darken($darkGrey, 10);
      background: $accent;
      border-radius: 2px;
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0,0,0,0.5),
                  0 1px 1px lighten($accent, 10) inset;
      &:hover {
        background: $accentOver;
      }
    }
  }
  .results-wrapper {
    overflow-y: auto;
    height: 100%;
    -moz-box-sizing: border-box;
    box-sizing:      border-box;
    padding-bottom: 40px;
  }
  .selected-results,
  .results {
    li {
      -webkit-transition: background-color 0.3s linear;
      -moz-transition:    background-color 0.3s linear;
      transition:         background-color 0.3s linear;
      position: relative;
      min-height: 36px;
      padding: $hSpacing $hSpacing $hSpacing 36px;
      overflow: hidden;
      background-color: #fff;
      background-repeat: no-repeat;
      background-position: $hSpacing center;
    }
    img {
      float: left;
      width: 36px;
      margin-right: 12px;
    }
    h2 {
      font-size: 15px;
      margin: 0 0 9px 0;
      background: transparent;
      padding: 0;
    }
    p {
      margin: 0;
    }
  }
  .selected-results li:last-child {
    border-bottom: none;
  }
  .results .validate,
  .selected-results .validate {
    outline: none;
    position: absolute;
    top: 15px;
    right: $hSpacing;
    display: block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    border-radius: 2px;
    background: url("../imgs/tick-dark-grey.png") no-repeat center center;
  }
  .selected-results .validate {
    background-image: url("../imgs/tick-green.png");
  }
}

#search .selected-results li.provider-github,
#search .results li.provider-github {
  background-image: url("../imgs/github-icon-16.png");
}
#search .selected-results li.provider-linkedin,
#search .results li.provider-linkedin {
  background-image: url("../imgs/linkedin-icon-16.png");
}
#search .selected-results li.provider-stack-overflow,
#search .results li.provider-stack-overflow {
  background-image: url("../imgs/stack-overflow-icon-16.png");
}
#search .selected-results li.no-picture,
#search .results li.no-picture {
  padding-left: 84px;
}
#search .selected-results li:hover,
#search .selected-results li:focus,
#search .results li:hover,
#search .results li:focus {
  background-color: lighten($lightGrey, 27);
}


/*******************************************************************************
 * Settings panel
 ******************************************************************************/
#buddies-list {
  h1 {
    a {
      -webkit-transition: width 0.1s linear;
      -moz-transition:    width 0.1s linear;
      transition:         width 0.1s linear;
      position: absolute;
      top: 6px;
      right: $hSpacing;
      display: inline-block;
      height: 30px;
      width: 50px;
      text-align: center;
      line-height: 30px;
      border-radius: 2px;
      background: $removeColor;
      font-size: 13px;
      text-transform: none;
      text-decoration: none;
      box-shadow: 0 1px 1px lighten($removeColor, 12) inset,
                  0 1px 2px rgba(0,0,0,0.5);
      color: darken($darkGrey, 12);
      font-weight: bold;
      &:hover {
        background: lighten($removeColor, 10);
      }
      &.editing {
        width: 70px;
      }
    }
  }
  li {
    -webkit-transition: background-color 0.3s linear;
    -moz-transition:    background-color 0.3s linear;
    transition:         background-color 0.3s linear;
    position: relative;
    min-height: 32px;
    background-color: #fff;
    &:hover {
      background-color: lighten($lightGrey, 27);
    }
  }
  h3 {
    background: none;
    padding: 0;
  }
  .remove {
    -webkit-transition: width 0.1s linear, opacity 0.1s linear;
    -moz-transition:    width 0.1s linear, opacity 0.1s linear;
    transition:         width 0.1s linear, opacity 0.1s linear;
    opacity: 0;
    display: block;
    position: absolute;
    top: 7px;
    right: $hSpacing;
    width: 32px;
    height: 32px;
    border-radius: 2px;
    background: $removeColor url("../imgs/glyphicons_197_remove.png") no-repeat center center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.35);
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    color: darken($darkGrey, 12);
    overflow: hidden;
    &.active {
      opacity: 1;
    }
    span {
      line-height: 32px;
      height: 32px;
      width: 70px;
      display: block;
      visibility: hidden;
    }
    &.pending {
      width: 70px;
      background: $removeColor;
      span {
        visibility: visible;
      }
    }
    &:hover {
      background-color: lighten($removeColor, 10);
    }
  }
}


/*******************************************************************************
 * Settings panel
 ******************************************************************************/
#settings {
  .providers {
    li {
      position: relative;
      padding-left: 32px;
      background-repeat: no-repeat;
      background-position: $hSpacing center;
      .name {
        font-weight: bold;
      }
      &.github {
        background-image: url("../imgs/github-icon-16.png");
      }
      &.linkedin {
        background-image: url("../imgs/linkedin-icon-16.png");
      }
      &.stack-overflow {
        background-image: url("../imgs/stack-overflow-icon-16.png");
      }
    }
  }
}



/*******************************************************************************
 * Nav bar
 ******************************************************************************/
.nav {
  z-index: 9999;
  position: absolute;
  bottom: 0;
  background: #ddd;
  height: 40px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  li {
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    border-left: 1px solid #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:first-child {
      border-left: none;
    }
  }
  a {
    outline: none;
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    span {
      display: none;
    }
    &:hover,
    &:focus,
    &.active {
      background-color: #eee;
    }
  }
  .home a {
    background-image: url("../imgs/glyphicons_020_home.png");
  }
  .search-button a {
    background-image: url("../imgs/glyphicons_027_search.png");
  }
  .buddies a {
    background-image: url("../imgs/glyphicons_114_list.png");
  }
  .settings a {
    background-image: url("../imgs/glyphicons_136_cogwheel.png");
  }
  .about a {
    background-image: url("../imgs/glyphicons_195_circle_info.png");
  }
}




.switch {
  cursor: pointer;
  font-size: 13px;
  position: absolute;
  top: 5px;
  right: $hSpacing;
  display: block;
  border-radius: 2px;
  width: 70px;
  height: 24px;
  line-height: 24px;
  span {
    position: relative;
    display: block;
    span {
      font-weight: bold;
      display: block;
      float: left;
      width: 35px;
      height: 24px;
      line-height: 24px;
      text-align: center;
      box-shadow: 0 0 4px rgba(0,0,0,0.25) inset;
      &:nth-child(1) {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        background: #fff6ba;
      }
      &:nth-child(2) {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background: #e1cf5f;
      }
    }
    i {
      -webkit-transition: left 0.1s linear;
      -moz-transition:    left 0.1s linear;
      transition:         left 0.1s linear;
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: $darkGrey;
      box-shadow: 0 0 3px rgba(0,0,0,0.85) inset;
      height: 24px;
      width: 35px;
    }
  }
  &.on {
    text-align: left;
    i {
      left: 35px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }
  &.off {
    text-align: right;
    i {
      left: 0;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
  &:hover {
    i {
      background-color: lighten($darkGrey, 10);
    }
  }
}