html, body {
  height: 100%; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  width: 100%;
  font-family: helvetica, arial;
  font-size: 15px;
  color: #3a3534;
  background: #2d2828;
  line-height: 20px; }

* {
  outline: none; }

a {
  color: #3a3534; }

h1, h2, h3, h4, h5, h6 {
  color: #554d4c; }

h2 {
  color: #3a3534;
  font-size: 17px;
  background-color: #9f9b9b;
  background-repeat: no-repeat;
  background-position: 12px center;
  padding: 7px 12px;
  margin: 0; }

h3 {
  font-size: 15px;
  background-color: #c4c2c2;
  padding: 5px 12px;
  margin: 0;
  font-weight: 400; }

#container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 600px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 40px; }

.panel-slider {
  position: relative;
  overflow: hidden;
  width: 500%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.panel-container {
  position: absolute;
  width: 100%;
  height: 100%; }

.panel {
  position: relative;
  background: #fff;
  float: left;
  z-index: 10;
  height: 100%;
  width: 20%;
  overflow: hidden; }

.subpanel-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.subpanel {
  position: relative;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden; }

.header {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-weight: 100;
  height: 44px;
  line-height: 44px;
  text-transform: uppercase;
  font-size: 25px;
  padding: 0 12px;
  margin: 0;
  background: #423c3b;
  color: #837675;
  position: relative;
  position: absolute;
  top: 0;
  left: 0; }

.header-button {
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 12px;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border-radius: 2px;
  background: #e1cf5f;
  color: #35302f;
  font-weight: bold;
  font-size: 13px;
  text-transform: none;
  text-decoration: none;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  padding: 0 12px; }
  .header-button:hover {
    background: #fff6ba; }

.headered-panel {
  padding-top: 44px;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.panel-wrapper {
  height: 100%;
  overflow-y: auto; }

.notice {
  padding: 7px 12px;
  font-size: 13px;
  margin: 0;
  font-style: italic;
  background: #fff6ba; }

#buddies .subpanel-container {
  height: 200%; }

#buddies .subpanel {
  height: 50%; }

ul.items {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.items li {
    padding: 7px 12px;
    border-bottom: 1px solid #dddcdc; }

.more {
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: block;
  display: none;
  text-align: center;
  background: #e1cf5f url("../imgs/glyphicons_187_more.png") no-repeat center center;
  height: 32px; }
  .more:hover {
    background-color: #fff6ba; }

.empty {
  margin: 0;
  text-align: center;
  padding: 9px 12px;
  font-style: italic;
  border-bottom: 1px solid #dddcdc; }
  .empty a {
    display: inline-block;
    text-decoration: none;
    background-color: #e1cf5f;
    border-radius: 2px;
    padding: 2px 5px;
    font-style: normal;
    color: #3a3534;
    background: #e1cf5f;
    cursor: pointer; }

/*******************************************************************************
 * Popin
 ******************************************************************************/
#popin {
  display: none;
  position: absolute;
  top: 54px;
  left: 10px;
  right: 10px;
  bottom: 50px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.85);
  z-index: 9999;
  border-radius: 2px; }
  #popin .wrapper {
    padding-top: 32px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 2px; }
    #popin .wrapper .title {
      position: absolute;
      top: 0;
      left: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      background: #423c3b;
      color: #837675;
      height: 32px;
      line-height: 32px;
      width: 100%;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0 12px;
      text-transform: uppercase;
      font-size: 19px; }
    #popin .wrapper .close {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      width: 32px;
      height: 32px;
      background: url("../imgs/glyphicons_197_remove.png") no-repeat center center; }
    #popin .wrapper .container {
      background: #FFF;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px; }

/*******************************************************************************
 * Home
 ******************************************************************************/
#home {
  background: #554d4c;
  color: #b3b0b0; }
  #home .presentation {
    padding: 12px 12px;
    margin: 0;
    line-height: 22px; }
    #home .presentation strong {
      color: #fff6ba;
      font-weight: normal; }
    #home .presentation a {
      -webkit-transition: background-color 0.3s linear, color 0.3s linear;
      -moz-transition: background-color 0.3s linear, color 0.3s linear;
      transition: background-color 0.3s linear, color 0.3s linear;
      position: relative;
      margin-top: 15px;
      display: block;
      background-color: #e1cf5f;
      font-weight: bold;
      text-decoration: none;
      padding-left: 52px;
      height: 40px;
      line-height: 40px;
      text-align: left;
      border-radius: 2px;
      box-shadow: 0 1px 1px #fff38b inset, 0 1px 2px rgba(0, 0, 0, 0.75); }
      #home .presentation a i {
        position: absolute;
        top: 0;
        left: 0;
        height: 40px;
        width: 40px;
        background-color: #fff6ba;
        background-repeat: no-repeat;
        background-position: center center;
        display: block;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px; }
      #home .presentation a.go-search i {
        background-image: url("../imgs/search-dark-grey.png"); }
      #home .presentation a.go-list i {
        background-image: url("../imgs/glyphicons_114_list.png"); }
      #home .presentation a:hover {
        color: #040404;
        background-color: #fff6ba; }

/*******************************************************************************
 * About
 ******************************************************************************/
#about {
  background: #554d4c;
  color: #b3b0b0; }
  #about p {
    padding: 12px 12px;
    margin: 0;
    line-height: 22px; }
    #about p strong, #about p a {
      color: #fff6ba;
      font-weight: normal; }

.overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  background: rgba(255, 255, 255, 0.7); }
  .overlay .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 16px;
    margin-top: -8px;
    width: 48px;
    margin-left: -24px;
    background: url("../imgs/loader.gif") no-repeat top left; }

/*******************************************************************************
 * Buddy profile
 ******************************************************************************/
#buddy-profile .header {
  font-size: 19px;
  font-weight: 800;
  color: #D8CBC9;
  text-transform: none; }
#buddy-profile h2 {
  position: relative;
  padding-left: 36px;
  min-height: 24px;
  line-height: 24px; }
  #buddy-profile h2 .refresh {
    position: absolute;
    top: 3px;
    right: 12px;
    display: block;
    height: 32px;
    width: 32px;
    cursor: pointer;
    border-radius: 2px;
    background: url("../imgs/glyphicons_081_refresh.png") no-repeat center center; }
    #buddy-profile h2 .refresh:hover {
      background-color: #b8b5b5; }
#buddy-profile .wrapper {
  height: 100%;
  overflow-y: auto; }
#buddy-profile .github-profile h2 {
  background-image: url("../imgs/github-icon-16.png"); }
#buddy-profile .linkedin-profile h2 {
  background-image: url("../imgs/linkedin-icon-16.png"); }
#buddy-profile .stack-overflow-profile h2 {
  background-image: url("../imgs/stack-overflow-icon-16.png"); }
#buddy-profile h3 {
  position: relative;
  cursor: pointer;
  color: #2d2828;
  border-bottom: 1px solid #9f9b9b; }
  #buddy-profile h3 .count {
    border-radius: 2px;
    display: inline-block;
    background: #3f3939;
    color: #dddcdc;
    padding: 0 5px;
    line-height: 18px;
    font-size: 13px;
    font-weight: 800; }
  #buddy-profile h3 i {
    position: absolute;
    top: 3px;
    right: 12px;
    height: 24px;
    width: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../imgs/collapse-icon.png"); }
  #buddy-profile h3:hover {
    background-color: #d1cfcf; }
  #buddy-profile h3.collapsed i {
    background-image: url("../imgs/expand-icon.png"); }
#buddy-profile ul.activity {
  font-size: 13px; }
  #buddy-profile ul.activity a {
    text-decoration: none;
    font-weight: bold; }
  #buddy-profile ul.activity .day {
    font-size: 13px;
    font-weight: bold;
    padding: 3px 12px;
    background-color: #e2e1e1; }
  #buddy-profile ul.activity .date {
    font-style: italic;
    color: #888; }
#buddy-profile ul.repositories {
  font-size: 13px; }
  #buddy-profile ul.repositories li {
    padding: 5px 12px;
    border-bottom: none; }
  #buddy-profile ul.repositories a {
    text-decoration: none;
    font-weight: bold;
    color: #2d2828;
    background: #e1cf5f;
    display: inline-block;
    padding: 2px 6px;
    border-radius: 2px; }
    #buddy-profile ul.repositories a:hover {
      background-color: #fff6ba; }
  #buddy-profile ul.repositories .meta {
    font-style: italic; }

/*******************************************************************************
 * Search results
 ******************************************************************************/
#search .search-wrapper {
  position: relative;
  overflow: hidden;
  padding: 12px 12px;
  background-color: #554d4c; }
  #search .search-wrapper input[type="text"] {
    display: block;
    padding: 0 12px;
    height: 40px;
    background: #9f9b9b;
    color: #554d4c;
    border: none;
    border-radius: 2px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 1px #b8b5b5 inset; }
    #search .search-wrapper input[type="text"]:hover {
      background-color: #b3afaf; }
    #search .search-wrapper input[type="text"]:focus {
      background: #c4c2c2;
      color: #2d2828; }
  #search .search-wrapper .clear {
    position: absolute;
    top: 12px;
    right: 52px;
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    background: url("../imgs/cross-dark.png") no-repeat center center;
    z-index: 100; }
  #search .search-wrapper a.submit {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    display: block;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    height: 40px;
    width: 40px;
    background: #e1cf5f url("../imgs/search-dark-grey.png") no-repeat center center;
    box-shadow: 0 1px 1px #fff6ba inset; }
    #search .search-wrapper a.submit:focus, #search .search-wrapper a.submit:hover, #search .search-wrapper a.submit:active {
      background-color: #fff6ba; }
  #search .search-wrapper .overlay {
    background: rgba(85, 77, 76, 0.6); }
#search .notice {
  display: none;
  text-align: center; }
#search a.build {
  text-align: center;
  margin-top: 12px;
  text-decoration: none;
  display: block;
  padding: 11px 0;
  color: #3a3534;
  background: #e1cf5f;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 1px #fff6ba inset; }
  #search a.build:hover {
    background: #fff6ba; }
#search .results-wrapper {
  overflow-y: auto;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 40px; }
#search .results li {
  cursor: pointer;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  -webkit-transition: padding-left 0.2s linear;
  -moz-transition: padding-left 0.2s linear;
  transition: padding-left 0.2s linear;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  min-height: 36px;
  padding: 12px 12px 12px 36px;
  overflow: hidden;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 12px center; }
  #search .results li.no-picture {
    padding-left: 84px; }
    #search .results li.no-picture.selected {
      padding-left: 100px; }
  #search .results li.selected {
    padding-left: 50px;
    background-color: #fff6ba !important;
    border-color: #e1cf5f; }
    #search .results li.selected .validate {
      background-image: url("../imgs/tick-green.png"); }
  #search .results li.provider-github {
    background-image: url("../imgs/github-icon-16.png"); }
  #search .results li.provider-linkedin {
    background-image: url("../imgs/linkedin-icon-16.png"); }
  #search .results li.provider-stack-overflow {
    background-image: url("../imgs/stack-overflow-icon-16.png"); }
  #search .results li:hover, #search .results li:focus {
    background-color: #e2e1e1; }
#search .results img {
  float: left;
  width: 36px;
  margin-right: 12px; }
#search .results h2 {
  font-size: 15px;
  margin: 0 0 9px 0;
  background: transparent;
  padding: 0; }
#search .results p {
  margin: 0; }
#search .results .validate {
  position: absolute;
  top: 15px;
  right: 12px;
  display: block;
  height: 24px;
  width: 24px;
  line-height: 24px;
  background: url("../imgs/tick-dark-grey.png") no-repeat center center; }

/*******************************************************************************
 * Buddies panel
 ******************************************************************************/
#buddies-list h1 a {
  -webkit-transition: width 0.1s linear;
  -moz-transition: width 0.1s linear;
  transition: width 0.1s linear;
  padding: 0;
  width: 50px;
  text-align: center;
  background: #ff3726;
  box-shadow: 0 1px 1px #ff6f63 inset, 0 1px 2px rgba(0, 0, 0, 0.5); }
  #buddies-list h1 a:hover {
    background: #ff6659; }
  #buddies-list h1 a.editing {
    width: 70px; }
#buddies-list ul.letters {
  margin: 0;
  padding: 0;
  background-color: #9f9b9b; }
  #buddies-list ul.letters > li > span {
    padding: 0 12px;
    display: block;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    font-weight: bold; }
  #buddies-list ul.letters > li li {
    cursor: pointer;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    position: relative;
    min-height: 24px;
    background-color: #fff; }
    #buddies-list ul.letters > li li:hover {
      background-color: #e2e1e1; }
#buddies-list h3 {
  font-size: 16px;
  font-weight: bold;
  background: none;
  padding: 0;
  color: #2d2828; }
#buddies-list .remove {
  -webkit-transition: width 0.1s linear, opacity 0.1s linear;
  -moz-transition: width 0.1s linear, opacity 0.1s linear;
  transition: width 0.1s linear, opacity 0.1s linear;
  opacity: 0;
  display: block;
  position: absolute;
  top: 5px;
  right: 12px;
  width: 28px;
  height: 28px;
  border-radius: 2px;
  background: #ff3726 url("../imgs/glyphicons_197_remove.png") no-repeat center center;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
  font-size: 13px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  color: #35302f;
  overflow: hidden; }
  #buddies-list .remove.editing {
    opacity: 1; }
  #buddies-list .remove span {
    line-height: 28px;
    height: 28px;
    width: 70px;
    display: block;
    visibility: hidden; }
  #buddies-list .remove.pending {
    width: 70px;
    background: #ff3726; }
    #buddies-list .remove.pending span {
      visibility: visible; }
  #buddies-list .remove:hover {
    background-color: #ff6659; }

/*******************************************************************************
 * Settings panel
 ******************************************************************************/
#settings .switch {
  top: 13px; }
#settings .quota {
  color: #706564;
  display: block;
  font-size: 13px; }
  #settings .quota span {
    color: #3a3534; }
#settings .providers li {
  position: relative;
  padding: 11px 12px 11px 36px;
  background-repeat: no-repeat;
  background-position: 12px 14px; }
  #settings .providers li .name {
    font-weight: bold; }
  #settings .providers li.github {
    background-image: url("../imgs/github-icon-16.png"); }
  #settings .providers li.linkedin {
    background-image: url("../imgs/linkedin-icon-16.png"); }
  #settings .providers li.stack-overflow {
    background-image: url("../imgs/stack-overflow-icon-16.png"); }

/*******************************************************************************
 * Nav bar
 ******************************************************************************/
.nav {
  z-index: 9999;
  position: absolute;
  bottom: 0;
  background: #ddd;
  height: 40px;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%; }
  .nav li {
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    border-left: 1px solid #fff;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .nav li:first-child {
      border-left: none; }
  .nav a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center; }
    .nav a span {
      display: none; }
    .nav a:hover, .nav a:focus, .nav a.active {
      background-color: #eee; }
  .nav .home a {
    background-image: url("../imgs/glyphicons_020_home.png"); }
  .nav .search-button a {
    background-image: url("../imgs/glyphicons_027_search.png"); }
  .nav .buddies a {
    background-image: url("../imgs/glyphicons_114_list.png"); }
  .nav .settings a {
    background-image: url("../imgs/glyphicons_136_cogwheel.png"); }
  .nav .about a {
    background-image: url("../imgs/glyphicons_195_circle_info.png"); }

.switch {
  cursor: pointer;
  font-size: 13px;
  position: absolute;
  top: 5px;
  right: 12px;
  display: block;
  border-radius: 2px;
  width: 70px;
  height: 30px;
  line-height: 30px; }
  .switch span {
    position: relative;
    display: block; }
    .switch span span {
      font-weight: bold;
      display: block;
      float: left;
      width: 35px;
      height: 30px;
      text-align: center;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.25) inset; }
      .switch span span:nth-child(1) {
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        background: #e1cf5f; }
      .switch span span:nth-child(2) {
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        background: #9f9b9b; }
    .switch span i {
      -webkit-transition: left 0.1s linear;
      -moz-transition: left 0.1s linear;
      transition: left 0.1s linear;
      z-index: 10;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: #554d4c;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.85) inset;
      height: 30px;
      width: 35px; }
  .switch.on {
    text-align: left; }
    .switch.on i {
      left: 35px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px; }
  .switch.off {
    text-align: right; }
    .switch.off i {
      left: 0;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px; }
  .switch:hover i {
    background-color: #706564; }
