html, body {
    height: 100%;
}
body {
    width: 100%;
    font-family: helvetica;
    font-size: 12px;
    color: #555;
    background: #333;
}
h1, h2, h3, h4, h5, h6 {
    color: #000;
}
h2 {
    font-size: 15px;
}

#container {
    position: relative;
    width: 360px;
    height: 540px;
    margin-left: -210px;
    margin-top: 20px;
    left: 50%;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.8);
    border: 1px solid #000;
}
.panel {
    height: 100%;
    width: 100%;
}
.panel.closed {
}

/*******************************************************************************
 * Search form
 ******************************************************************************/
.search {
    width: 100%;
    height: 104px;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.2s linear;
    -moz-transition:    all 0.2s linear;
    transition:         all 0.2s linear;
    transition-property:         height;
    -moz-transition-property:    height;
    -webkit-transition-property: height;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.search.closed {
    height: 0;
    padding-bottom: 30px;
}
.search .container {
    position: relative;
    top: 0;
    padding: 9px;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.search .overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.85);
}
.search .overlay .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 14px;
    margin-top: -7px;
    width: 48px;
    margin-left: -24px;
    background: url("../imgs/loader.gif") no-repeat top left;
}
.search .toggle {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    display: block;
    height: 30px;
    background: #bbb;
    background: -moz-linear-gradient(top, #ccc 0%, #bbb 50%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ccc), color-stop(50%,#bbb));
    background: -webkit-linear-gradient(top, #ccc 0%,#bbb 50%);
    background: linear-gradient(to bottom, #ccc 0%,#bbb 50%);
    width: 100%;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #aaa;
    text-align: center;
}
.search .toggle i {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../imgs/collapse-icon.png") no-repeat top left;
    margin-top: 7px;
}
.search.closed .toggle i {
    margin-top: 3px;
    width: 24px;
    height: 24px;
    background-image: url("../imgs/search-icon.png");
}
.search input[type="text"] {
    padding: 9px;
    background: #eee;
    background: -moz-linear-gradient(top, #ddd 0%, #eee 8%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd), color-stop(8%,#eee));
    background: -webkit-linear-gradient(top, #ddd 0%,#eee 8%);
    background: linear-gradient(to bottom, #ddd 0%,#eee 8%);
    border: 1px solid #bbb;
    border-radius: 2px;
    outline: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 12px;
    color: #777;
}
.search input[type="text"]:focus {
    background: #fff;
    background: -moz-linear-gradient(top, #eee 0%, #fff 8%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eee), color-stop(8%,#fff));
    background: -webkit-linear-gradient(top, #eee 0%,#fff 8%);
    background: linear-gradient(to bottom, #eee 0%,#fff 8%);
    color: #000;
}
.search a {
    display: block;
    width: 100%;
    color: #444;
    display: block;
    border-radius: 2px;
    line-height: 34px;
    height: 34px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    border: 1px solid #63ac85;
    background: #8eefc0;
    background: -moz-linear-gradient(top,#c7ffdb 0%,#8eefc0 7%,#5bd098 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#c7ffdb),color-stop(7%,#8eefc0)color-stop(100%,#5bd098));
    background: -webkit-linear-gradient(top,#c7ffdb 0%,#8eefc0 7%,#5bd098 100%);
    background: linear-gradient(to bottom,#c7ffdb 0%,#8eefc0 7%,#5bd098 100%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 #bfffd9;

}
.search a:focus,
.search a:hover,
.search a:active {
    background: #98ffcd;
    background: -moz-linear-gradient(top, #98ffcd 0%, #81e1b2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98ffcd), color-stop(100%,#81e1b2));
    background: -webkit-linear-gradient(top, #98ffcd 0%,#81e1b2 100%);
    background: linear-gradient(to bottom, #98ffcd 0%,#81e1b2 100%);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}



/*******************************************************************************
 * Search results
 ******************************************************************************/
.search-results {
    list-style: none;
    padding: 0;
    margin: 0;
}
.search-results li {
    position: relative;
    margin: 0;
    min-height: 36px;
    padding: 9px 9px 9px 36px;
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 9px center;
}
.search-results li.provider-github {
    background-image: url("../imgs/github-icon-16.png");
}
.search-results li.provider-linkedin {
    background-image: url("../imgs/linkedin-icon-16.png");
}
.search-results li.provider-stack-overflow {
    background-image: url("../imgs/stack-overflow-icon-16.png");
}
.search-results li.no-picture {
    padding-left: 84px;
}
.search-results li:hover {
    background-color: #eee;
}
.search-results .picture {
    float: left;
    width: 36px;
    margin-right: 12px;
}
.search-results h2 {
    margin: 0 0 9px 0;
}
.search-results p {
    margin: 0;
}
.search-results .validate {
    outline: none;
    position: absolute;
    top: 15px;
    right: 9px;
    display: block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-decoration: none;
    border: 1px solid #63ac85;
    border-radius: 2px;
    color: #444;
    background: #8eefc0;
    background: -moz-linear-gradient(top,#c7ffdb 0%,#8eefc0 7%,#5bd098 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#c7ffdb),color-stop(7%,#8eefc0)color-stop(100%,#5bd098));
    background: -webkit-linear-gradient(top,#c7ffdb 0%,#8eefc0 7%,#5bd098 100%);
    background: linear-gradient(to bottom,#c7ffdb 0%,#8eefc0 7%,#5bd098 100%);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 #bfffd9;
}
.search-results .validate:hover,
.search-results .validate:active {
    background: #98ffcd;
    background: -moz-linear-gradient(top, #98ffcd 0%, #81e1b2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#98ffcd), color-stop(100%,#81e1b2));
    background: -webkit-linear-gradient(top, #98ffcd 0%,#81e1b2 100%);
    background: linear-gradient(to bottom, #98ffcd 0%,#81e1b2 100%);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
}
.search-results .validate i {
    display: block;
    width: 24px;
    height: 24px;
    background: url("../imgs/check-icon.png") no-repeat top left;
}




/*******************************************************************************
 * Nav bar
 ******************************************************************************/
.nav {
    border-top: 1px solid #999;
    position: absolute;
    bottom: 0;
    background: #bbb;
    height: 40px;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 -2px 3px rgba(0,0,0,0.2);
}
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
.nav li {
    float: left;
    width: 33.333%;
    height: 100%;
    text-align: center;
    border-left: 1px solid #999;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.nav a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.nav a span {
    display: none;
}
.nav .buddies a {
    background-image: url("../imgs/glyphicons_088_adress_book.png");
}
.nav .settings a {
    background-image: url("../imgs/glyphicons_136_cogwheel.png");
}